<!DOCTYPE html>
<html>
  <!--test deploy-->
  <!--update paksa-->
<head>
  <title>BukKas</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.31/jspdf.plugin.autotable.min.js"></script>

  <style>
* {
  box-sizing: border-box;
}
    
body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  height: 100vh;
  background: url("./WhatsApp Image 2026-04-28 at 20.17.52.jpeg");
  background-repeat: repeat;
  background-size: 150px;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: -1;
}

/* LAYOUT UTAMA */
.layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
  color: white;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  background: rgba(255,255,255,0.1);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar button:hover {
  background: #1abc9c;
}

/* MAIN CONTENT */
.main {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background: transparent;
}

/* CARD CONTAINER (TRANSPARAN GLASS) */
.main > div {
  width: 100%;
  max-width: 100%;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  padding: 25px;
  border-radius: 15px;
  color: white;
}

/* DASHBOARD CARDS */
.cards {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  color: white;
}

.masuk { background: #27ae60; }
.keluar { background: #e67e22; }
.saldo { background: #2980b9; }

/* FORM */
input, select {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-tabung {
  background: #27ae60;
  color: white;
  margin-right: 10px;
}

.btn-tarik {
  background: #e67e22;
  color: white;
}

.btn-tambah {
  background: #3498db;
  color: white;
}

.btn-simpan {
  background: #f1c40f;
  color: black;
  margin-right: 10px;
}

.btn-hapus {
  background: #e74c3c;
  color: white;
}

.btn-simpan {
  background: #f1c40f;
  color: black;
}

.btn-hapus {
  background: #e74c3c;
  color: white;
}

.btn-edit {
  background: #8e5a2b;
  color: white;
}

.btn-download {
  background: #3498db;
  color: white;
}

.btn-download:hover{
  background: #2980b9;
}

.btn-login {
  background: #3498db;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.btn-login:hover {
  background: #2980b9;
}

/* TABLE */
table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
  overflow: hidden;
  color: black;
}

/* khusus tampilan hp */
@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

td:last-child {
  min-width: 150px;
}

th {
  background: #2c3e50;
  color: white;
}

td, th {
  padding: 10px;
  text-align: center;
}

.text-hijau {
  color: #27ae60;
  font-weight: bold;
}

.text-oren {
  color: #e67e22;
  font-weight: bold;
}

td button{
  display: inline-block;
  margin-right: 5px;
}
  </style>
</head>

<body>

<div id="app">

  <!-- LOGIN -->
  <div
  v-if="!userLogin"
  style="
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div
    style="
      width: 350px;
      background: white;
      padding: 25px;
      border-radius: 10px;
    "
  >
    <h3 style="text-align:center">Kas Gen-Waris</h3>

    <input v-model="loginUsername" placeholder="Username">
    <input v-model="loginPassword" type="password" placeholder="Password">

    <button
      class="btn-login"
      @click="login(loginUsername, loginPassword)"
    >
      Login
    </button>
  </div>
</div>

  <!-- APP -->
  <div v-if="userLogin" class="layout">

    <!-- SIDEBAR -->
    <div class="sidebar">
      <h2>Kas Gen-Waris</h2>
      <button @click="page='dashboard'">Dashboard</button>
      <button v-if="userLogin?.role==='admin'" @click="page='user'">User</button>
      <button @click="page='transaksi'">Transaksi</button>
      <button @click="page='laporan'">Laporan</button>
      <button @click="logout">Logout</button>
    </div>

    <!-- MAIN -->
    <div class="main">

      <!-- DASHBOARD -->
      <div v-if="page==='dashboard'">
        <h1>
          {{ userLogin.role === 'admin'
              ? 'Dashboard'
              : 'Dashboard' }}
        </h1>

        <select v-if="userLogin.role==='admin'" v-model="modeView">
          <option value="semua">Semua User</option>
          <option value="peruser">Per User</option>
        </select>

        <p v-if="userLogin.role === 'user'">
          Data milik: <b>{{ userLogin.nama }}</b>
        </p>

        <div class="cards">
          <div class="card masuk">
            {{ userLogin.role === 'admin' ? 'Total Masuk' : 'Uang Masuk' }}
            <br>Rp {{ totalMasuk }}
          </div>

          <div class="card keluar">
            {{ userLogin.role === 'admin' ? 'Total Keluar' : 'Uang Keluar' }}
            <br>Rp {{ totalKeluar }}
          </div>

          <div class="card saldo">
            Saldo
            <br>Rp {{ saldo }}
          </div>
        </div>

        <select v-model="modeChart">
          <option value="harian">Harian</option>
          <option value="mingguan">Mingguan</option>
          <option value="bulanan">Bulanan</option>
          <option value="tahunan">Tahunan</option>
        </select>

        <div>
          <p v-if="!riwayat.length">Data Belum Ada</p>
          <canvas v-else id="chartHarian" style="background:white; border-radius:10px;"></canvas>
        </div>
      </div>

      <!-- USER -->
      <div v-if="page==='user'">
        <h1>User</h1>

        <input v-model="namaBaru" placeholder="Nama user">
        <button class="btn-tambah" @click="tambahUser">Tambah</button>

        <ul>
          <li v-for="u in users" :key="u.id">
            <input v-model="u.nama">
            <button class="btn-simpan" @click="updateUser(u)">💾</button>
            <button class="btn-hapus" @click="hapusUser(u.id)">🗑️</button>
          </li>
        </ul>
      </div>

      <!-- TRANSAKSI -->
      <div v-if="page==='transaksi'">
        <h1>Transaksi</h1>

        <select v-if="userLogin?.role==='admin'" v-model="nama">
          <option disabled value="">-- Pilih User --</option>
          <option v-for="u in users" :value="String(u.id)">
            {{ u.nama }}
          </option>
        </select>

        <input v-else :value="userLogin?.nama" disabled>

        <input v-model="jumlah" placeholder="Jumlah">
        <input v-model="keterangan" placeholder="Keterangan">

        <button class="btn-tabung" v-if="userLogin?.role==='admin'" @click="tabung">Tabung</button>
        <button class="btn-tarik" v-if="userLogin?.role==='admin'" @click="tarik">Tarik</button>

        <table v-if="riwayat.length">
          <tr>
            <th>Tipe</th>
            <th>Jumlah</th>
            <th>Keterangan</th>
            <th>Tanggal</th>
            <th v-if="userLogin?.role === 'admin'">Aksi</th>
          </tr>

          <tr v-for="r in riwayat" :key="r.id">
            <td>{{ r.tipe }}</td>
            <!-- JUMLAH -->
          <td v-if="String(editId) !== String(r.id)">{{ r.jumlah }}</td>
          <td v-else>
            <input v-model="editJumlah">
          </td>

             <!-- KETERANGAN -->
           <td v-if="String(editId) !== String(r.id)">{{ r.keterangan }}</td>
           <td v-else>
           <input v-model="editKeterangan">
           </td>
            <td>{{ formatTanggal(r.created_at) }}</td>
            <td v-if="userLogin?.role === 'admin'">
               <button class="btn-edit" v-if="String(editId) !== String(r.id)" @click="editTransaksi(r)">✏️</button>
               <button class="btn-simpan" v-if="editId === r.id" @click="simpanEdit(r)">💾</button>
               <button v-if="u.role !== 'admin'" class="btn-hapus" @click="hapus(r.id)">🗑️</button>
            </td>
          </tr>
        </table>

        <p v-else>Belum Ada Transaksi</p>
      </div>

      <!-- LAPORAN -->
      <div v-if="page==='laporan'">
        <h1>Laporan</h1>

        <select v-if="userLogin?.role==='admin'" v-model="nama">
          <option disabled value="">-- Pilih User --</option>
          <option v-for="u in users" :value="String(u.id)">
            {{ u.nama }}
          </option>
        </select>

        <button class="btn-download" @click="downloadPDF">Download Laporan</button>

        <table v-if="riwayat.length">
          <tr>
            <th>Tipe</th>
            <th>Jumlah</th>
            <th>Keterangan</th>
            <th>Tanggal</th>
          </tr>

          <tr v-for="r in riwayat">
            <td>{{ r.tipe }}</td>
            <td>{{ r.jumlah }}</td>
            <td>{{ r.keterangan }}</td>
            <td>{{ formatTanggal(r.created_at) }}</td>
          </tr>
        </table>
      </div>

    </div>

  </div>

</div>

</body>

<script>
const API = "https://tabungan-api.fairuzim934.workers.dev"

Vue.createApp({
  data() {
    return {
      modeView: "semua",
      loginUsername: "",
      loginPassword: "",
      userLogin: null,
      nama: "",
      jumlah: "",
      saldo: 0,
      riwayat: [],
      users: [],
      chartHarian: null,
      namaBaru: "",
      editId: null,
      editJumlah: "",
      editKeterangan: "",
      page: "dashboard",
      keterangan: "",
      totalMasuk: 0,
      totalKeluar: 0,
      modeChart: "harian"
    }
  },

  methods: {

  async login(username, password) {
  const res = await fetch(API + "/login", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ username, password })
  })

  const data = await res.json()

  if (!res.ok) {
    alert(data.error)
    return
  }

  this.riwayat = []
  this.saldo = 0
  this.totalMasuk = 0
  this.totalKeluar = 0
  this.nama = ""
  this.users = []
  this.filterBulan = ""
  this.chartHarian && this.chartHarian.destroy()

  this.userLogin = data
  localStorage.setItem("user", JSON.stringify(data))

  if (data.role === "user") {
    this.nama = String(data.id)
    this.getRiwayat()
    this.cekSaldo()
  } else {
    this.getSemuaRiwayat()
  }

  this.page = "dashboard"
},

logout() {
  localStorage.removeItem("user")
  this.userLogin = null

  this.nama = ""
  this.riwayat = []
  this.totalMasuk = 0
  this.totalKeluar = 0
  this.saldo = 0

  if (this.chartHarian) {
    this.chartHarian.destroy()
    this.chartHarian = null
  }
},

    async tabung() {
  if (this.userLogin?.role !== "admin") {
    return alert("Akses Ditolak")
  }
  if (!this.nama) return alert("Pilih user dulu!")
  if (!this.jumlah) return alert("Isi jumlah dulu!")

  const res = await fetch(API + "/tabung", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({
      nama: this.nama,
      jumlah: this.jumlah,
      keterangan: this.keterangan
    })
  })

  let data
try {
  data = await res.json()
} catch {
  return alert("Server error (response bukan JSON)")
}

  if (!res.ok) {
    alert(data.error)
  } else {
    alert("Berhasil")
    await this.getRiwayat()
    this.cekSaldo()
    this.renderChartHarian()
  }
},

    async tarik() {
  if (this.userLogin?.role !== "admin") {
    return alert("Akses Ditolak")
  }

  if (!this.nama) return alert("Pilih user dulu!")
  if (!this.jumlah) return alert("Isi jumlah dulu!")

  const res = await fetch(API + "/tarik", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({
      nama: this.nama,
      jumlah: this.jumlah,
      keterangan: this.keterangan
    })
  })

  let data
try {
  data = await res.json()
} catch {
  return alert("Server error (response bukan JSON)")
}

  if (!res.ok) {
    alert(data.error)
  } else {
    alert("Berhasil")
    await this.getRiwayat()
    this.cekSaldo()
    this.renderChartHarian()
  }
},

    async cekSaldo() {
      const res = await fetch(API + "/saldo/" + this.nama)
      const data = await res.json()
      this.saldo = data.saldo
    },

async getRiwayat() {
  const res = await fetch(API + "/riwayat/" + this.nama)
  this.riwayat = await res.json()

  console.log("DATA RIWAYAT:", this.riwayat)

  this.totalMasuk = 0
  this.totalKeluar = 0

  this.riwayat.forEach(r => {

    if (r.tipe === "masuk") {
      this.totalMasuk += Number(r.jumlah)
    } else if (r.tipe === "keluar") {
      this.totalKeluar += Number(r.jumlah)
    }

  })

  this.saldo = this.totalMasuk - this.totalKeluar

  this.$nextTick(() => {
    this.renderChartHarian()
  })
},

  async getSemuaRiwayat() {
  await this.getUsers()

  this.$nextTick(() => {
  this.renderChartHarian()
})

  let all = []

  for (const u of this.users) {
    const res = await fetch(API + "/riwayat/" + u.id)
    const data = await res.json()

    data.forEach(d => {
      d.user_id = u.id
    })

    all.push(...data)
  }

  this.riwayat = all

  this.totalMasuk = 0
  this.totalKeluar = 0

  this.riwayat.forEach(r => {
  if (r.tipe === "masuk") {
    this.totalMasuk += Number(r.jumlah)
  } else if (r.tipe === "keluar") {
    this.totalKeluar += Number(r.jumlah)
  }
})

  this.saldo = this.totalMasuk - this.totalKeluar

  this.$nextTick(() => {
    this.renderChartHarian()
  })
},

    async hapus(id) {

      if (this.userLogin?.role !== "admin") {
    return alert("Akses Ditolak")
  }

      const res = await fetch(API + "/transaksi/" + id, {
        method: "DELETE"
      })

      let data
      try {
        data = await res.json()
      } catch {
        return alert("Server error")
      }

      if (!res.ok) {
        alert("Gagal hapus")
      } else {
        alert("Berhasil dihapus")
        this.getRiwayat()
        this.cekSaldo()
      }
    },

renderChartHarian() {
if (this.page !== 'dashboard') return
if (!this.riwayat.length) return

const canvas = document.getElementById('chartHarian')
if (!canvas) return

const ctx = canvas.getContext('2d')
if (!ctx) return

  if (this.chartHarian) this.chartHarian.destroy()

  const map = {}

  this.riwayat.forEach(r => {

    const d = new Date(r.created_at)
    let key = ""

if (this.modeChart === "harian") {
  key = d.getFullYear() + "-" +
        String(d.getMonth()+1).padStart(2,"0") + "-" +
        String(d.getDate()).padStart(2,"0")

} else if (this.modeChart === "mingguan") {
  const week = Math.ceil(d.getDate() / 7)
  key = `${d.getFullYear()}-M${d.getMonth()+1}-W${week}`

} else if (this.modeChart === "bulanan") {
  key = `${d.getFullYear()}-${String(d.getMonth()+1).padStart(2,"0")}`

} else if (this.modeChart === "tahunan") {
  key = `${d.getFullYear()}`
}

    if (!map[key]) map[key] = {}

 let uid

  // USER LOGIN
  if (this.userLogin.role === "user") {
    uid = String(this.userLogin.id)

  // ADMIN PER USER
  } else if (this.modeView === "peruser" && this.nama) {
    uid = String(this.nama)

  // ADMIN SEMUA USER
  } else {
    uid = String(r.user_id)
  }

    if (!map[key][uid]) {
      map[key][uid] = { masuk: 0, keluar: 0 }
    }

    if (r.tipe === "masuk") {
      map[key][uid].masuk += Number(r.jumlah)
    } else if (r.tipe === "keluar") {
  map[key][uid].keluar += Number(r.jumlah)
}
  })

  console.log("MAP FINAL:", map)
  const labels = Object.keys(map).sort()
  if (!labels.length) {
    console.log("Chart kosong")
    return
  }
  const datasets = []
  const colors = ["red","blue","green","purple","orange","brown","black"]

  if (this.userLogin.role === "admin") {

  if (this.modeView === "peruser" && this.nama) {
    const id = String(this.nama)

    datasets.push({
      label: "Masuk",
      data: labels.map(t => map[t]?.[id]?.masuk || 0),
      borderColor: "green",
      tension: 0.4
    })

    datasets.push({
      label: "Keluar",
      data: labels.map(t => map[t]?.[id]?.keluar || 0),
      borderColor: "orange",
      borderDash: [6,4],
      tension: 0.4
    })

  } else {
    this.users.forEach((u, i) => {
      const id = String(u.id)

      datasets.push({
        label: u.nama + " (Masuk)",
        data: labels.map(t => map[t]?.[id]?.masuk || 0),
        borderColor: colors[i % colors.length],
        tension: 0.4
      })

      datasets.push({
        label: u.nama + " (Keluar)",
        data: labels.map(t => map[t]?.[id]?.keluar || 0),
        borderColor: colors[i % colors.length],
        borderDash: [6,4],
        tension: 0.4
      })
    })
  }

} else {
  // user biasa
  const id = String(this.userLogin.id)

  datasets.push({
    label: "Masuk",
    data: labels.map(t => map[t]?.[id]?.masuk || 0),
    borderColor: "green",
    tension: 0.4
  })

  datasets.push({
    label: "Keluar",
    data: labels.map(t => map[t]?.[id]?.keluar || 0),
    borderColor: "orange",
    borderDash: [6,4],
    tension: 0.4
  })
}

  this.chartHarian = new Chart(ctx, {
    type: 'line',
    data: { labels, datasets },
    options: {
  responsive: true,
  plugins: {
    legend: { position: 'bottom' }
  },
  scales: {
    x: {
      ticks: { color: "black" }
    },
    y: {
      beginAtZero: true,
      ticks: {
        color: "black",
        callback: v => "Rp " + v
      }
    }
  }
}
  })
},

    async simpanEdit(item) {
      if (!this.editJumlah) return alert("Jumlah tidak boleh kosong")

      const res = await fetch(API + "/transaksi/" + item.id, {
        method: "PUT",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
          jumlah: this.editJumlah,
          keterangan: this.editKeterangan
        })
      })

      let data
      try {
        data = await res.json()
      } catch {
        return alert("Server error")
      }

      if (!res.ok) {
        alert("Gagal update")
      } else {
        alert("Berhasil update")
      }

      this.editId = null
      this.editJumlah = ""
      this.editKeterangan = ""

      this.getRiwayat()
      this.cekSaldo()
    },

    editTransaksi(item) {
      console.log("EDIT DIKLIK", item)
      this.editId = item.id
      this.editJumlah = item.jumlah
      this.editKeterangan = item.keterangan || ""
    },

    async getUsers() {
      const res = await fetch(API + "/users")
      this.users = await res.json()
      
     console.log("USERS:", this.users)
    },

    async tambahUser() {
      if (!this.namaBaru) return alert("Nama kosong")

      await fetch(API + "/users", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({ nama: this.namaBaru })
      })

      this.namaBaru = ""
      this.getUsers()
    },

    async updateUser(u) {
      await fetch(API + "/users/" + u.id, {
        method: "PUT",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({ nama: u.nama })
      })
      alert("User diupdate")
    },

    async hapusUser(id) {
      if (!confirm("Yakin hapus user?")) return

      await fetch(API + "/users/" + id, {
        method: "DELETE"
      })

      this.getUsers()
    },

    downloadPDF() {
      if (this.userLogin.role === "user") {
        this.nama = String(this.userLogin.id)
      }
      if (!this.nama) return alert("Pilih user dulu!")

  const { jsPDF } = window.jspdf
  const doc = new jsPDF()

  // Judul
  doc.text("Laporan Transaksi", 14, 18)
  let namaUser = ""

if (this.userLogin.role === "user") {
  namaUser = this.userLogin.nama
} else {
  const user = this.users.find(u => String(u.id) === String(this.nama))
  namaUser = user ? user.nama : "-"
}

  doc.text("User: " + namaUser, 14, 10)

  // Data tabel
  const rows = this.riwayat.map((r, i) => [
    i + 1,
    r.tipe,
    "Rp " + r.jumlah,
    r.keterangan || "-",
    this.formatTanggal(r.created_at)
  ])

  // Tabel
  doc.autoTable({
  startY: 20,
  head: [["No", "Tipe", "Jumlah", "Keterangan", "Tanggal"]],
  body: rows,

  didParseCell: function (data) {
  if (data.section === 'head') return

  const row = data.row.raw
  if (!row) return

  const tipe = row[1].toLowerCase()

  if (data.column.index === 1 || data.column.index === 2) {
    if (tipe === "masuk") {
      data.cell.styles.textColor = [39, 174, 96] // hijau
    } else {
      data.cell.styles.textColor = [230, 126, 34] // oren
    }
  } else {
    // kolom lain tetap hitam
    data.cell.styles.textColor = [0, 0, 0]
  }
}
})

  // Total
  const finalY = doc.lastAutoTable.finalY + 10

  doc.text("Total Masuk: Rp " + this.totalMasuk, 14, finalY)
  doc.text("Total Keluar: Rp " + this.totalKeluar, 14, finalY + 8)
  doc.text("Saldo: Rp " + this.saldo, 14, finalY + 16)

  // Download
  doc.save("laporan-" + this.nama + ".pdf")
},

    formatTanggal(tanggal) {
      const d = new Date(tanggal)
      return d.toLocaleString("id-ID")
    }
  },

mounted() {
  const user = localStorage.getItem("user")

  if (user) {
    try {
      this.userLogin = JSON.parse(user)
    } catch {
      localStorage.removeItem("user")
      this.userLogin = null
    }
  }

  if (this.userLogin) {
    if (this.userLogin.role === "user") {
      this.nama = String(this.userLogin.id)
      this.getRiwayat()
      this.cekSaldo()
    } else {
      this.getSemuaRiwayat()
    }
  }

  this.getUsers()
},

 watch: {
  nama(val) {
    if (this.userLogin?.role === "user") {
      this.nama = String(this.userLogin.id)
      return
    }

    if (this.userLogin?.role === "admin") {
      if (this.modeView === "peruser" && val) {
        this.getRiwayat()
        this.cekSaldo()

        this.$nextTick(() => {
         this.renderChartHarian()
        })
      }
    }
  },

  page(val) {
    if (this.chartHarian) {
    this.chartHarian.destroy()
    this.chartHarian = null
  }

    if (val === "dashboard") {
      this.$nextTick(() => {
        this.renderChartHarian()
      })

      this.filterBulan = ""

      if (this.userLogin?.role === "admin") {
        if (this.modeView === "peruser" && this.nama) {
          this.getRiwayat()
          this.cekSaldo()
        } else {
          this.getSemuaRiwayat()
        }
      } else {
        this.getRiwayat()
        this.cekSaldo()
      }
    }
  },

  modeChart() {
    this.renderChartHarian()
  },

  modeView(val) {

  // reset chart
  if (this.chartHarian) {
    this.chartHarian.destroy()
    this.chartHarian = null
  }

  if (this.userLogin?.role === "admin") {

    if (val === "peruser") {
      this.totalMasuk = 0
      this.totalKeluar = 0
    }

    if (val === "peruser" && this.nama) {
      this.getRiwayat()
      this.cekSaldo()
    } else {
      this.nama = ""
      this.getSemuaRiwayat()
    }
  }
}
}

}).mount("#app")
</script>

</body>
</html>